@charset "UTF-8";
/**
 * TABLE DES MATIERES
 *
 * OUTILS
 * Variables........................... Variables utiles (couleurs)
 * Animations.......................... Animations des pages et des éléments
 *
 * PAGES 
 * Loading............................. Page de chargement
 *
 * BASE
 * Global.............................. Styles de la page
 * Typographie......................... Styles des titres, paragraphes, liens et boutons
 *
 * LAYOUTS
 * Header.............................. Partie haut de page
 * Section Présentation................ Partie localisation et présentation - page d'accueil
 * Section Fonctionnement.............. Partie explication du fonctionnement - page d'accueil
 * Section Restaurants................. Partie cartes restaurant - page d'accueil
 * Section Menu........................ Partie du détail des menus - pages menus
 * Footer.............................. Partie pied de page
 *
 * COMPOSANTS
 * Images ............................. Eléments images
 * Boutons............................. Eléments boutons
*/
/*-------------------------------------------------------------------------*/
/*                                 OUTILS                                  */
/*----------------------------------------*/
/* ANIMATIONS */
/*----------------------------------------*/
/*--------------------*/
/* ANIMATIONS - LOADING SPINNER */
.load__bar {
  animation: bars 700ms both infinite ease-in-out alternate;
}
.load__bar--1 {
  animation-delay: 58.3333333333ms;
}
.load__bar--2 {
  animation-delay: 116.6666666667ms;
}
.load__bar--3 {
  animation-delay: 175ms;
}
.load__bar--4 {
  animation-delay: 233.3333333333ms;
}
.load__bar--5 {
  animation-delay: 291.6666666667ms;
}
.load__bar--6 {
  animation-delay: 350ms;
}
.load__bar--7 {
  animation-delay: 408.3333333333ms;
}
.load__bar--8 {
  animation-delay: 466.6666666667ms;
}
.load__bar--9 {
  animation-delay: 525ms;
}
.load__bar--10 {
  animation-delay: 583.3333333333ms;
}
.load__bar--11 {
  animation-delay: 641.6666666667ms;
}
.load__bar--12 {
  animation-delay: 700ms;
}

@keyframes bars {
  /* Mouvement des barres */
  0% {
    transform: translate(0px, 0vh);
    transform: scale(0.3, 0.3);
    background: #9356DC;
  }
  100% {
    transform: translate(0px, -3vh);
    transform: scale(2, 2.5);
    background: #FF79DA;
  }
}
.chargement {
  width: 100%;
  height: 100vh;
  background: #f9f9f9;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transform: scaleX(0);
  animation: chargement 3000ms;
}

@keyframes chargement {
  /* Apparition et disparition du loading spinner */
  0% {
    opacity: 0.9;
    transform: scaleX(1);
  }
  80% {
    opacity: 0.8;
  }
  99% {
    transform: scaleX(1);
  }
  100% {
    opacity: 0;
    transform: scaleX(0);
  }
}
.page {
  opacity: 1;
  animation: apparition 3000ms;
}

@keyframes apparition {
  /* Apparition de la page */
  0% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
/*--------------------*/
/* ANIMATIONS - COEURS */
.coeur-logo {
  position: absolute;
}
.coeur-logo--vide {
  font-size: 25px;
  margin-top: 26px;
  opacity: 1;
  z-index: 1;
  transition: opacity 1000ms;
}
.coeur-logo--vide:active {
  opacity: 0;
}
.coeur-logo--vide:active + .coeur-logo--plein {
  opacity: 1;
}
@media screen and (min-width: 769px) {
  .coeur-logo--vide:hover {
    opacity: 0;
  }
  .coeur-logo--vide:hover + .coeur-logo--plein {
    opacity: 1;
  }
}
.coeur-logo--plein {
  display: block;
  font-size: 25px;
  margin-top: 26px;
  color: #99E2D0;
  background: linear-gradient(0deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  opacity: 0;
  z-index: 0;
  transition: opacity 1000ms;
}

/*--------------------*/
/* ANIMATIONS - APPARITION MENU */
.section-menu__liste {
  animation: menu 1000ms both;
}
.section-menu__liste--1 {
  animation-delay: 600ms;
}
.section-menu__liste--2 {
  animation-delay: 1200ms;
}
.section-menu__liste--3 {
  animation-delay: 1800ms;
}

@keyframes menu {
  /* Apparition des entrées, plats et desserts */
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu__liste {
  animation: plat 500ms both;
}
.menu__liste--1 {
  animation-delay: 300ms;
}
.menu__liste--2 {
  animation-delay: 600ms;
}
.menu__liste--3 {
  animation-delay: 900ms;
}
.menu__liste--4 {
  animation-delay: 1200ms;
}
.menu__liste--5 {
  animation-delay: 1500ms;
}
.menu__liste--6 {
  animation-delay: 1800ms;
}
.menu__liste--7 {
  animation-delay: 2100ms;
}
.menu__liste--8 {
  animation-delay: 2400ms;
}
.menu__liste--9 {
  animation-delay: 2700ms;
}
.menu__liste--10 {
  animation-delay: 3000ms;
}

@keyframes plat {
  /* Apparition des plats dans les catégories (entree, plat, dessert) */
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
/*--------------------*/
/* ANIMATIONS - SELECTION PLAT */
.menu__choix {
  transition: transform 500ms;
}
.menu__validation-logo {
  transition: transform 500ms;
}
.menu__val-logo {
  transform: rotate(0turn);
  transition: transform 500ms;
}
.menu__liste:active .menu__nom {
  width: 65%;
}
.menu__liste:active .menu__choix {
  transform: translate(-50px, 0);
}
.menu__liste:active .menu__val-logo {
  transform: rotate(-1turn);
}
.menu__liste:active .menu__validation-logo {
  transform: translate(13px, 0);
}
@media screen and (min-width: 769px) {
  .menu__liste:hover .menu__nom {
    width: 65%;
  }
  .menu__liste:hover .menu__choix {
    transform: translate(-50px, 0);
  }
  .menu__liste:hover .menu__val-logo {
    transform: rotate(-1turn);
  }
  .menu__liste:hover .menu__validation-logo {
    transform: translate(13px, 0);
  }
}

/*-------------------------------------------------------------------------*/
/*                                 PAGES                                   */
/*----------------------------------------*/
/* LOADING */
/*----------------------------------------*/
.load {
  width: 36vh;
  height: 3vh;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
}
.load__bar {
  background: #9356DC;
  height: 100%;
  width: 3vh;
}

/*-------------------------------------------------------------------------*/
/*                                 BASES                                   */
/*----------------------------------------*/
/* GLOBAL */
/*----------------------------------------*/
body {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

/*----------------------------------------*/
/* TYPOGRAPHIE */
/*----------------------------------------*/
h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 0px;
}
@media screen and (min-width: 769px) and (max-width: 1440px) {
  h1 {
    font-size: 2.3rem;
  }
}
@media screen and (min-width: 1441px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  margin: 20px;
}
@media screen and (min-width: 769px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
}
@media screen and (min-width: 769px) {
  h3 {
    font-size: 1.4rem;
  }
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  font-weight: lighter;
}
@media screen and (min-width: 769px) {
  h4 {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1440px) {
  h4 {
    font-size: 1.6rem;
  }
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
}
@media screen and (min-width: 769px) {
  p {
    font-size: 1.5rem;
  }
}

a {
  font-family: "Roboto", sans-serif;
  color: black;
  text-decoration: none;
}

button {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: white;
}

/*-------------------------------------------------------------------------*/
/*                                LAYOUTS                                  */
/*----------------------------------------*/
/* HEADER */
/*----------------------------------------*/
.page__head {
  width: 100%;
  height: 60px;
  background: #FFF;
  box-shadow: 0px 1px 6px black;
}
@media screen and (min-width: 769px) {
  .page__head {
    height: 80px;
  }
}

.head__logo {
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 20px;
}
@media screen and (min-width: 769px) {
  .head__logo {
    font-size: 27px;
    margin-top: 25px;
    margin-right: 50px;
  }
}

/*----------------------------------------*/
/* PRESENTATION */
/*----------------------------------------*/
/*--------------------*/
/* PRESENTATION-LOCALISATION */
.localisation {
  height: 35px;
  background: #ececec;
  opacity: 0.8;
  text-align: center;
  padding-top: 5px;
}
@media screen and (min-width: 769px) {
  .localisation {
    height: 50px;
  }
}
.localisation__logo {
  font-size: 16px;
  width: 10px;
}
@media screen and (min-width: 769px) {
  .localisation__logo {
    font-size: 25px;
    margin-right: 20px;
  }
}
.localisation__txt {
  border: 1px solid #ececec;
  border-radius: 20px;
  padding: 5px 10px;
  background: none;
  font-size: 17px;
  width: 160px;
}
@media screen and (min-width: 769px) {
  .localisation__txt {
    font-size: 22px;
    width: 200px;
    margin-top: 2px;
  }
}
.localisation :focus {
  background: #f9f9f9;
  opacity: 5;
}

/*--------------------*/
/* PRESENTATION-NAVIGATION */
.navigation {
  height: 260px;
  background: #f9f9f9;
  padding-top: 50px;
  text-align: center;
}
.navigation p {
  font-weight: lighter;
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  .navigation {
    height: 250px;
    padding-left: 10%;
    padding-right: 10%;
  }
  .navigation br {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .navigation {
    height: 250px;
  }
  .navigation br {
    display: none;
  }
}

/*----------------------------------------*/
/* SECTION FONCTIONNEMENT */
/*----------------------------------------*/
.fctmt {
  padding-left: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 400px;
}
@media screen and (min-width: 769px) {
  .fctmt {
    max-width: 500px;
  }
}
.fctmt h2 {
  margin-left: 0px;
  margin-bottom: 0px;
}
.fctmt h2:hover {
  background: none;
}
.fctmt__num {
  font-size: 13px;
  background: #9356DC;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 50px;
  color: #FFF;
  position: absolute;
  margin-top: 40px;
}
@media screen and (min-width: 769px) {
  .fctmt__num {
    font-size: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 45px;
  }
}
.fctmt__txt {
  display: flex;
  margin-top: 20px;
  margin-left: 3.5%;
  margin-right: 5%;
  padding-left: 30px;
  background: #f9f9f9;
  border-radius: 20px;
  box-shadow: 2px 5px 6px #e6e6e6;
}
@media screen and (min-width: 769px) {
  .fctmt__txt {
    padding-left: 50px;
  }
}
.fctmt__txt p {
  font-size: 16px;
  padding-top: 7px;
  padding-bottom: 7px;
}
@media screen and (min-width: 769px) {
  .fctmt__txt p {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.fctmt__logo {
  color: grey;
  margin-right: 20px;
}
@media screen and (min-width: 769px) {
  .fctmt__logo {
    margin-right: 30px;
  }
}
.fctmt__logo--tel {
  font-size: 19px;
  margin-top: 22px;
}
@media screen and (min-width: 769px) {
  .fctmt__logo--tel {
    font-size: 25px;
    margin-top: 28px;
  }
}
.fctmt__logo--list {
  font-size: 17px;
  margin-top: 24px;
}
@media screen and (min-width: 769px) {
  .fctmt__logo--list {
    font-size: 23px;
    margin-top: 30px;
  }
}
.fctmt__logo--shop {
  font-size: 15px;
  margin-top: 25px;
}
@media screen and (min-width: 769px) {
  .fctmt__logo--shop {
    font-size: 20px;
    margin-top: 31px;
  }
}
.fctmt :hover {
  background: whitesmoke;
}
.fctmt :hover .fctmt__logo {
  color: #9356DC;
}

/*----------------------------------------*/
/* SECTION RESTO */
/*----------------------------------------*/
/*--------------------*/
/* RESTO - GENERAL */
.resto {
  padding-top: 50px;
  background: #f9f9f9;
  padding-bottom: 40px;
}
.resto h2 {
  margin-left: 20px;
  margin-bottom: 20px;
}
@media screen and (min-width: 426px) {
  .resto__liste {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

/*--------------------*/
/* RESTO - CARTES RESTO */
.carte-resto {
  max-width: 400px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  background: #FFF;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 2px 5px 6px #e6e6e6;
  transform: scale(1);
  transition: transform 250ms;
}
@media screen and (min-width: 460px) {
  .carte-resto {
    max-width: 500px;
    min-width: 210px;
    width: 40%;
    height: 300px;
    margin-left: 5px;
    margin-right: 5px;
  }
}
.carte-resto__image {
  /* images des cartes resto */
  width: 100%;
  height: 100%;
}
.carte-resto__description {
  /* Description du resto (nom/localisation) */
  display: flex;
  justify-content: space-between;
  margin-top: -80px;
  padding-left: 10px;
}
.carte-resto__description p {
  font-size: 17px;
  margin-top: -10px;
  font-weight: lighter;
}
@media screen and (min-width: 769px) {
  .carte-resto__description p {
    font-size: 20px;
  }
}
@media screen and (min-width: 769px) {
  .carte-resto__description h3 {
    margin-top: 2px;
  }
}
.carte-resto__logo {
  /* Logo coeur */
  display: block;
  position: absolute;
  margin-top: -50px;
  margin-left: 85%;
  margin-right: 20px;
  font-size: 24px;
}
@media screen and (min-width: 460px) and (max-width: 768px) {
  .carte-resto__logo {
    font-size: 26px;
    margin-top: -60px;
  }
}
@media screen and (min-width: 769px) {
  .carte-resto__logo {
    font-size: 27px;
    margin-top: -60px;
  }
}
.carte-resto__logo-nouv {
  /* Logo coeur pour les cartes ayant l'étiquette 'nouveau' */
  display: block;
  position: absolute;
  margin-top: 150px;
  margin-left: 85%;
  margin-right: 20px;
}
@media screen and (min-width: 460px) and (max-width: 768px) {
  .carte-resto__logo-nouv {
    font-size: 26px;
    margin-top: 190px;
  }
}
@media screen and (min-width: 769px) {
  .carte-resto__logo-nouv {
    font-size: 27px;
    margin-top: 180px;
  }
}
.carte-resto__nouv {
  /* étiquette 'nouveau' */
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: 13px;
  color: #3c8172;
  background: #99E2D0;
  width: 74px;
  margin-top: -253px;
  text-align: center;
  border-radius: 5px;
}
.carte-resto__nouv p {
  font-size: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media screen and (min-width: 769px) {
  .carte-resto__nouv p {
    font-size: 17px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
@media screen and (min-width: 460px) and (max-width: 768px) {
  .carte-resto__nouv {
    margin-top: -300px;
  }
}
@media screen and (min-width: 769px) {
  .carte-resto__nouv {
    width: 90px;
    margin-top: -310px;
  }
}
.carte-resto:hover {
  transform: scale(1.05);
}

/*----------------------------------------*/
/* SECTION MENU */
/*----------------------------------------*/
/*--------------------*/
/* SECTION MENU - GENERAL */
.section-menu {
  background: #f9f9f9;
  padding-top: 10px;
  border-radius: 40px 40px 0px 0px;
  margin-top: -40px;
  position: relative;
}
.section-menu__titre {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 30px;
}
.section-menu__liste {
  margin-bottom: 40px;
}
.section-menu nav {
  display: flex;
  justify-content: center;
}

/*--------------------*/
/* SECTION MENU - MENU */
.overflow-ellipsis {
  /* Texte (titre et paragraphe) qui doit être rogné */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu__logo {
  /* Logo coeur */
  background-color: #f9f9f9;
  margin-left: -10%;
}
@media screen and (min-width: 769px) and (max-width: 1440px) {
  .menu__logo {
    font-size: 40px;
  }
}
@media screen and (min-width: 1441px) {
  .menu__logo {
    font-size: 50px;
  }
}
.menu__titre {
  /* entrée, plat, dessert */
  margin-left: 20px;
  width: 30px;
  padding-bottom: 3px;
  border-bottom: 3px solid #99E2D0;
}
.menu__liste {
  /* Contient plats (h3/p) prix et coche */
  display: flex;
  justify-content: stretch;
  overflow: hidden;
  position: relative;
  background: #FFF;
  box-shadow: 2px 5px 6px #e6e6e6;
  border-radius: 15px;
  padding-left: 10px;
  margin-bottom: 15px;
  max-width: 500px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 570px) {
  .menu__liste {
    margin-left: 20px;
  }
}
@media screen and (min-width: 769px) {
  .menu__liste {
    margin-left: 130px;
  }
}
.menu__choix {
  /* Contient prix et coche */
  display: flex;
  border-radius: 0px 15px 15px 0px;
  overflow: hidden;
  width: 200px;
  position: absolute;
  right: -130px;
  height: 100%;
}
@media screen and (min-width: 769px) {
  .menu__choix {
    right: -120px;
  }
}
@media screen and (min-width: 1440px) {
  .menu__choix {
    right: -115px;
  }
}
.menu__nom {
  /* Contient nom du plat (h3/p) */
  width: 80%;
}
.menu__nom p {
  font-size: 15px;
  font-weight: lighter;
  margin-top: 0px;
  margin-bottom: 15px;
}
@media screen and (min-width: 769px) {
  .menu__nom p {
    font-size: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .menu__nom p {
    font-size: 23px;
  }
}
.menu__nom h3 {
  font-size: 17px;
  margin-top: 15px;
  margin-bottom: 5px;
}
@media screen and (min-width: 769px) {
  .menu__nom h3 {
    font-size: 22px;
  }
}
@media screen and (min-width: 1440px) {
  .menu__nom h3 {
    font-size: 25px;
  }
}
.menu__prix {
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 20px;
}
.menu__prix p {
  font-size: 13px;
}
@media screen and (min-width: 769px) {
  .menu__prix p {
    font-size: 18px;
  }
}
@media screen and (min-width: 1440px) {
  .menu__prix p {
    font-size: 21px;
  }
}
.menu__validation {
  /* Coche */
  height: 100%;
  width: 60px;
  margin-right: -60px;
  background: #99E2D0;
  border-radius: 0px 15px 15px 0px;
}
.menu__val-logo {
  /* Logo de coche */
  font-size: 20px;
  margin-top: 28px;
  color: #FFF;
}
@media screen and (min-width: 769px) {
  .menu__val-logo {
    font-size: 24px;
    margin-top: 30px;
  }
}

/*--------------------*/
/* SECTION MENU - BOUTON */
.bouton__commander {
  /* Placement du bouton */
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

/*----------------------------------------*/
/* FOOTER */
/*----------------------------------------*/
.page__foot {
  background-color: #2e2e2e;
  padding-left: 20px;
  padding-bottom: 20px;
}

.foot__liste {
  list-style: none;
  padding-left: 0px;
}
.foot__liste li {
  padding-bottom: 10px;
}
.foot__elt {
  display: flex;
  flex-direction: row;
  color: #FFF;
}
.foot__elt p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 15px;
}
@media screen and (min-width: 769px) {
  .foot__elt p {
    font-size: 20px;
  }
}
.foot__logo {
  margin-top: 0px;
  color: #FFF;
}
.foot__logo--knife {
  font-size: 15px;
  margin-right: 11px;
}
@media screen and (min-width: 769px) {
  .foot__logo--knife {
    font-size: 20px;
    margin-right: 13px;
  }
}
.foot__logo--hand {
  font-size: 11px;
  margin-right: 9px;
}
@media screen and (min-width: 769px) {
  .foot__logo--hand {
    font-size: 16px;
  }
}
.foot__link {
  color: #FFF;
  font-size: 15px;
}
@media screen and (min-width: 769px) {
  .foot__link {
    font-size: 20px;
  }
}

/*-------------------------------------------------------------------------*/
/*                               COMPOSANTS                                */
/*----------------------------------------*/
/* IMAGES */
/*----------------------------------------*/
/*--------------------*/
/* IMAGES-HEADER */
.head__fig {
  height: 60px;
  margin: 0px;
  text-align: center;
  padding-top: 20px;
}
@media screen and (min-width: 769px) {
  .head__fig {
    text-align: left;
    padding-left: 70px;
  }
}
.head__fig .head__img {
  width: 160px;
}
@media screen and (min-width: 769px) {
  .head__fig .head__img {
    width: 250px;
  }
}

/*--------------------*/
/* IMAGES-RESTO */
.carte-resto__fig {
  width: 100%;
  height: 70%;
  margin: 0px;
}
.carte-resto__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 17px 17px 0px 0px;
}

/*--------------------*/
/* IMAGES-PAGES RESTO */
.bandeau__fig {
  width: 100%;
  height: 250px;
  margin: 0px;
}
.bandeau__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*--------------------*/
/* IMAGES-FOOTER */
.foot__fig {
  height: 25px;
  margin: 0px;
  padding-top: 25px;
}
@media screen and (min-width: 769px) {
  .foot__fig {
    height: 40px;
  }
}
.foot__fig .foot__img {
  width: 100px;
  filter: invert(100%);
}
@media screen and (min-width: 769px) {
  .foot__fig .foot__img {
    width: 150px;
  }
}

/*----------------------------------------*/
/* BOUTONS */
/*----------------------------------------*/
.bouton {
  border: none;
  border-radius: 50px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  cursor: pointer;
  transition: transform 250ms;
  box-shadow: 2px 5px 6px #d1d1d1;
}
@media screen and (min-width: 769px) {
  .bouton {
    font-size: 1.3rem;
  }
}
.bouton:hover {
  background: linear-gradient(170deg, #fface8, #ae80e5);
  box-shadow: 2px 5px 6px #b3b3b3;
}

/*--------------------*/
/* BOUTONS-PRESENTATION */
.navigation__bouton {
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

/*--------------------*/
/* BOUTONS-COMMANDER */
.bouton__commander {
  margin-bottom: 50px;
  justify-self: center;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 45px;
  padding-right: 45px;
  font-size: 16px;
}
@media screen and (min-width: 769px) {
  .bouton__commander {
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
