/*----------------------------------------*/
/* FOOTER */
/*----------------------------------------*/

.page__foot{
    background-color: $background-quaternary;
    padding-left: 20px;
    padding-bottom: 20px;
}

.foot{
    &__liste{
        list-style: none;
        padding-left: 0px;
        & li{
            padding-bottom: 10px;
        }
    }
    &__elt{
        display: flex;
        flex-direction: row;
        color: #FFF;
        & p{
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 15px;
            @media screen and (min-width: 769px) {
                font-size: 20px;
            }
        }
    }
    &__logo{
        margin-top: 0px;
        color: #FFF;
        &--knife{
            font-size: 15px;
            margin-right: 11px;
            @media screen and (min-width: 769px) {
                font-size: 20px;
                margin-right: 13px;
            }
        }
        &--hand{
            font-size: 11px;
            margin-right: 9px;
            @media screen and (min-width: 769px) {
                font-size: 16px;
            }
        }
    }
    &__link{
        color: #FFF;
        font-size: 15px;
        @media screen and (min-width: 769px) {
            font-size: 20px;
        }
    }
}