/*----------------------------------------*/
/* SECTION MENU */
/*----------------------------------------*/




/*--------------------*/
/* SECTION MENU - GENERAL */

.section-menu{
    background: $background-secondary;
    padding-top: 10px;
    border-radius: 40px 40px 0px 0px;
    margin-top: -40px;
    position: relative;
    &__titre{
        display: flex;
        justify-content: space-between;
        padding-left:  20px;
        padding-right: 30px;
    }
    &__liste{
        margin-bottom: 40px;
    }
    nav{
        display: flex;
        justify-content: center;
    }
}




/*--------------------*/
/* SECTION MENU - MENU */

.overflow-ellipsis { /* Texte (titre et paragraphe) qui doit être rogné */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu{
    &__logo { /* Logo coeur */
        background-color: $background-secondary;
        margin-left: -10%;
        @media screen and (min-width: 769px) and (max-width: 1440px) {
            font-size: 40px;
        }
        @media screen and (min-width: 1441px) {
            font-size: 50px;
        }
    }
    &__titre{ /* entrée, plat, dessert */
        margin-left: 20px;
        width: 30px;
        padding-bottom: 3px;
        border-bottom: 3px solid $colour-tertiary;
    }
    &__liste{ /* Contient plats (h3/p) prix et coche */
        display: flex;
        justify-content: stretch;
        overflow: hidden;
        position: relative;
        background: $background-primary;
        box-shadow: 2px 5px 6px rgb(230 230 230);
        border-radius: 15px;
        padding-left: 10px;
        margin-bottom: 15px;
        max-width: 500px;
        width: 90%;
        margin-left:  auto;
        margin-right: auto;
        @media screen and (min-width: 570px) {
            margin-left: 20px;
        }
        @media screen and (min-width: 769px) {
            margin-left: 130px;
        }
    }
    &__choix { /* Contient prix et coche */
        display: flex;
        border-radius: 0px 15px 15px 0px;
        overflow: hidden;
        width: 200px;
        position: absolute;
        right: -130px;
        height: 100%;
        @media screen and (min-width: 769px) {
            right: -120px;
        }
        @media screen and (min-width: 1440px) {
            right: -115px;
        }
    }
    &__nom { /* Contient nom du plat (h3/p) */
        width: 80%;
        p{
            font-size: 15px;
            font-weight: lighter;
            margin-top:    0px;
            margin-bottom: 15px;
            @media screen and (min-width: 769px) {
                font-size: 20px;
            }
            @media screen and (min-width: 1440px) {
                font-size: 23px;
            }
        }
        h3{
            font-size: 17px;
            margin-top: 15px;
            margin-bottom: 5px;
            @media screen and (min-width: 769px) {
                font-size: 22px;
            }
            @media screen and (min-width: 1440px) {
                font-size: 25px;
            }
        }
    }
    &__prix {
        margin-top:   20px;
        margin-left:  30px;
        margin-right: 20px;
        p {
            font-size: 13px;
            @media screen and (min-width: 769px) {
                font-size: 18px;
            }
            @media screen and (min-width: 1440px) {
                font-size: 21px;
            }
        }
    }
    &__validation { /* Coche */
        height: 100%;
        width: 60px;
        margin-right: -60px;
        background: $colour-tertiary;
        border-radius: 0px 15px 15px 0px;
    }
    &__val-logo { /* Logo de coche */
        font-size: 20px;
        margin-top: 28px;
        color: #FFF;
        @media screen and (min-width: 769px) {
            font-size: 24px;
            margin-top: 30px;
        }
    }
}





/*--------------------*/
/* SECTION MENU - BOUTON */

.bouton__commander{ /* Placement du bouton */
    margin-left:  auto;
    margin-right: auto;
    font-size: 20px;
}