$colour-primary:#9356DC;
$colour-primary-light: lighten(#9356DC, 10);
$colour-secondary: #FF79DA;
$colour-secondary-light: lighten(#FF79DA, 10);
$colour-tertiary: #99E2D0;

$background-primary:#FFF;
$background-secondary: rgb(249, 249, 249);
$background-secondary-hover: rgb(245, 245, 245);
$background-tertiary: rgb(236, 236, 236);
$background-quaternary: rgb(46, 46, 46);

$gradient-primary: linear-gradient(170deg, $colour-secondary, $colour-primary);
$gradient-secondary: linear-gradient(170deg, $colour-secondary-light, $colour-primary-light);
$gradient-tertiary: linear-gradient(0deg, $colour-secondary, $colour-primary);